<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/moon.svg" alt="" width="30" height="30" class="d-inline-block align-center">
            Anasayfa
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <app-cart-summary></app-cart-summary>

                <li class="nav-item">
                <div class="btn-group" style="left: 10px;">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Ürün
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/products/add">Ekle</a></li>
                      <li><a class="dropdown-item disabled" href="#">Sil</a></li>
                      <li><a class="dropdown-item disabled" href="#">Güncelle</a></li>
                    </ul>
                  </div>
                </li>
            </ul>   
                <li style="list-style: none; padding: 10px; margin-left: 10px;">
                    <a href="/register" class="btn btn-primary btn-lg active" tabindex="-1" role="button" aria-disabled="true">Kayıt ol</a>
                </li>
                <li style="list-style: none;">
                    <a href="/login" class="btn btn-primary btn-lg active" tabindex="-1" role="button" aria-disabled="true">Giriş Yap</a>
                </li>
        </div>
    </div>
</nav>
</div>

