<div class="shadow-lg p-3 mb-5 bg-body rounded">
    
    <div class="hepsi">
        <div id="tamcerceve">
            <div id="ortaAlan">
                <a href="https://www.github.com/LuciferDynamo"><img id="AllLink" src="../../../assets/img/iconmonstr-github-1.svg" alt="Git_asd"></a>
                <a href="https://discord.com/users/599548284217851931"><img id="AllLink" src="../../../assets/img/41484d92c876f76b20c7f746221e8151.svg" alt="Git_asd"></a>
                <a href="https://www.instagram.com/lucifer_1dynamo/"><img id="AllLink" src="../../../assets/img/iconmonstr-instagram-15.svg" alt="Git_asd"></a>
                    <br>
                    <br>
                © 2021

                <br>
                <br>

                <img class="logoMoon" src="../../../assets/img/moon.svg" alt="">

            </div>
            </div>
    </div>
</div>